* {
    margin: 0%;
    padding: 0%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
    width: 900px;
    height: 800px;
    margin: auto;
}

.header {
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.side {
    background-color: blue;
}

.main {
    background-color: yellow;
}

p {
    text-align: center;
    font-size: 50px;
}

.menu {
    height: 50px;
    display: flex;
}

.dropDown, .dropLeft, .dropRight {
    background-color: brown;
    width: 100%;
    position: absolute;
}

.dropDown {
    top: 100%;
    visibility: hidden;
}

.dropLeft {
    top: 0px;
    right: 100%;
    visibility: hidden;
}

.dropRight {
    top: 0px;
    left: 100%;
    visibility: hidden;
}

.elementmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25%;
}

.elementmenu:hover, .dropelement:hover {
    background-color: red;
}

a {
    color: black;
    text-decoration: none;
}